@import "~bootstrap/scss/bootstrap";
@import "_partials/reset.scss";

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        margin-left: 20px;
        margin-top: 30px;
        border: 2px solid black;
        width: calc(100% / 5);
    }
}
body{
    background-color: lightcyan;
    div{
        margin-top: 20px;
        margin-left: 10px;
    }
    button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
